body {
    margin: 0;
    background-color: black;


}

img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: majoris;

}


/****************Fonts*****************/

@font-face {
    font-family: majoris;
    src: url(assets/fonts/majoris/Majoris_Italic.ttf);
}

/*************Screen***************/

#screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#screen_left {
    width: 50vw;
    height: 50vw;
}

.forside_container {
    margin-top: 5vw;
    width: 30vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
    width: 5vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10vw;
}

.forside_container h3 {
    text-align: center;
    font-size: 1.1rem;
    color: black;
    width: 100px;
    height: 25px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10vw;
}

.forside_container a {
    text-decoration: none;
}

.baggrund_container {
    background-image: url(assets/forside/2015/plakat15.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: #ffcc27;
    background-position: center;
}


#screen_right {
    width: 50vw;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#screen_right_json {
    display: grid;
    width: 50vw;
    grid-template-columns: 1fr 1fr;

}

#tilbage {
    width: 25vw;
    height: 25vw;
}

button {
    width: 25vw;
    height: 25vw;
    border: 0;
    background-size: contain;

}

#button1 {
    background-image: url(assets/forside/years/nl19.jpg);
}

#button2 {
    background-image: url(assets/forside/years/nl19.jpg);
}

#button3 {
    background-image: url(assets/forside/years/nl18.jpg);
}

#button4 {
    background-image: url(assets/forside/years/nl17.jpg);
}

#button5 {
    background-image: url(assets/forside/years/nl16.jpg);
}

#button6 {
    background-image: url(assets/forside/years/nl15.jpg);
}

#button7 {
    background-image: url(assets/forside/years/nl14.jpg);
}

#button8 {
    background-image: url(assets/forside/years/nl13.jpg);
}

/*SINGLE VIEW*/

.indhold {
    width: 50vw;
    height: 50vw;
    color: white;
    background-image: url()
}

.indhold h2 {
    margin: 0;
    font-size: 3rem;
}

.indhold h3 {
    margin: 0;
    font-size: 1rem;
}

.indhold p {
    font-size: 0.8rem;
    font-family: sans-serif;
}

.indhold .tekst {
    margin: 3vw 5vw 10vw 5vw;
}

iframe {
    margin-top: 5vw;
    width: 40vw;
    height: 30vw;
    border: none;
}

@media only screen and (max-width: 842px) {
    #screen {
        display: grid;
        grid-template-columns: 1fr;
        width: 100vw;
    }

    #screen_left {
        grid-template-columns: 1fr;
        width: 100vw;
    }

    #screen_right {
        display: grid;
        grid-template-columns: 1fr;
        width: 100vw;
    }

    #menu {
        display: grid;
        grid-template-columns: 1fr;
        width: 100vw;
    }

    button {
        width: 100vw;
        height: 100vw;
        border: 0;
        background-size: contain;
    }

    #tilbage {
        width: 100vw;
        height: 100vw;
        border: 0;
    }

    .baggrund_container {
        height: 100vh;
        width: 100vw;
        position: absolute;

    }
